<h5>Login</h5>

<div style="display: block;">
    <div>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="usuario.nome">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password" [(ngModel)]="usuario.senha">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary"
    (click)="fazerLogin()">Login</button>
</div>

